# Application
NODE_ENV=development

# API
API_PORT=5000
DATABASE_URL=postgresql://stayhunt:stayhunt@postgres:5432/stayhunt
RABBITMQ_URL=amqp://stayhunt:stayhunt@rabbitmq:5672
REDIS_URL=redis://redis:6379

# Web
NEXT_PUBLIC_API_URL=http://localhost:5000